{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html" class="active">Home</a></li>
<li><a href="CropRecommendation.html">Crop</a></li>
<li><a href="FertilizerRecommendation.html">Fertilizer</a></li>
<!-- <li><a href="PesticideRecommendation.html">Pesticide</a></li> -->
{% endblock %}

{% block body %}
<section class="tm-welcome-section">
    <div class="container tm-position-relative">
      <div class="tm-lights-container">
        <img src="{{ url_for('static', filename='img/light.png') }}" alt="Light" class="light light-1" height="188px" width="200px">
        <img src="{{ url_for('static', filename='img/light.png') }}" alt="Light" class="light light-2" height="188px" width="200px">
        <img src="{{ url_for('static', filename='img/light.png') }}" alt="Light" class="light light-3" height="188px" width="200px">
        <br>
      </div>
      <div class="row tm-welcome-content">
        <br><br>
        <h2 class="white-text tm-handwriting-font tm-welcome-header">
          <img src="{{ url_for('static', filename='img/header-line.png') }}" alt="Line"
            class="tm-header-line">&nbsp;Welcome To&nbsp;&nbsp;<img src="{{ url_for('static', filename='img/header-line.png') }}" alt="Line"
            class="tm-header-line"></h2>
        <h2 class="gold-text tm-welcome-header-2">Targareyns</h2>
        <p class="gray-text tm-welcome-description"><span
            class="gold-text">Farm = AI + Crop + Fertilizer .</span> We take of your soil's health. We at <span class="gold-text">
              Targareyns</span>, honor <span
                class="gold-text">the Indian Farmer's love, hard work and character.</span>
          </p>
        <br><br><br>
      </div>
      <img src="{{ url_for('static', filename='img/table-set.jpeg') }}" alt="Table Set" class="tm-table-set img-responsive" width="100%">
    </div>
  </section>
  <div class="tm-main-section light-gray-bg">
    <div class="container" id="main">
      <section class="tm-section tm-section-margin-bottom-0 row">
        <div class="col-lg-12 tm-section-header-container">
          <h2 class="tm-section-header gold-text tm-handwriting-font">Our Services</h2>
          <div class="tm-hr-container">
            <hr class="tm-hr">
          </div>
        </div>
        <div class="col-lg-12 tm-popular-items-container">
          <div class="tm-popular-item">
            <img src="{{ url_for('static', filename='img/popular-2.jpg') }}" alt="Popular" class="tm-popular-item-img" width="286px" height="166px">
            <div class="tm-popular-item-description">
              <h3 class="tm-handwriting-font tm-popular-item-title"><span
                  class="tm-handwriting-font bigger-first-letter">C</span>rop Recommendation</h3>
              <hr class="tm-popular-item-hr">
              <p>Which crop to grow, that is ideally suited to conditions?
                Make an informed decision before starting the cultivation of crops.</p>
              <div class="order-now-container">
                <a href="CropRecommendation.html" class="order-now-link tm-handwriting-font">Proceed Now</a>
              </div>
            </div>
          </div>
          <div class="tm-popular-item">
            <img src="{{ url_for('static', filename='img/popular-3.jpg') }}" alt="Popular" class="tm-popular-item-img" width="286px" height="166px">
            <div class="tm-popular-item-description">
              <h3 class="tm-handwriting-font tm-popular-item-title"><span
                  class="tm-handwriting-font bigger-first-letter">F</span>ertilizer Recommendation</h3>
              <hr class="tm-popular-item-hr">
              <p>Which fertilizer to choose for the cultivated soil and prescribed crop for optimum production?
              Provide your crops, the essential nutrients.</p>
              <div class="order-now-container">
                <a href="FertilizerRecommendation.html" class="order-now-link tm-handwriting-font">Proceed Now</a>
              </div>
            </div>
          </div>
          <!-- <div class="tm-popular-item">
            <img src="{{ url_for('static', filename='img/popular-1.jpg') }}" alt="Popular" class="tm-popular-item-img" width="286px" height="166px">
            <div class="tm-popular-item-description">
              <h3 class="tm-handwriting-font tm-popular-item-title"><span
                  class="tm-handwriting-font bigger-first-letter">P</span>esticide Recommendation</h3>
              <hr class="tm-popular-item-hr">
              <p>Pests are a big threat.
                Use Irrigreat to know which pesticide to use to control pests before they cause potential damage to your
                crop?</p>
              <div class="order-now-container">
                <a href="PesticideRecommendation.html" class="order-now-link tm-handwriting-font">Proceed Now</a>
              </div>
            </div> -->
          </div>
        </div>
      </section>
    </div>
  </div>

<footer>
    <div class="tm-black-bg">
      <div class="container">
        <div class="row margin-bottom-60">
          <nav class="col-lg-3 col-md-3 tm-footer-nav tm-footer-div">
            <h3 class="tm-footer-div-title">Our Team :</h3>
            <ul>
              <li>Sushil Kumar Kori</li>
              <li>Jogendra Balotiya</li>
              <li>Sachin Kumar Singh</li>
              <li>Piyush Tharewal</li>
            </ul>
          </nav>
          <div class="col-lg-5 col-md-5 tm-footer-div">
            <h3 class="tm-footer-div-title">Few words for our Indian Farmers :</h3>
            <p class="margin-top-15" align="justify">For this one farmer the worries are over, lie down and rest your head,
              Your time has been and struggles enough, put the tractor in the shed.</p>

             <p class="margin-top-15" align="justify"> Years were not easy, many downright hard, but your faith in God transcended,
               Put away your tools and sleep in peace. The fences have all been mended.</p>

              <p class="margin-top-15" align="justify">You raised a fine family, worked the land well and always followed the Son,
                Hang up your shovel inside of the barn; your work here on earth is done.</p>

              <p class="margin-top-15" align="justify">Your love of God’s soil has passed on to your kin; the stories flow like fine wine,
                Wash off your work boots in the puddle left by blessed rain one final time.</p>

              <p class="margin-top-15" align="justify">You always believed that the good Lord would provide and He always had somehow,
                Take off your gloves and put them down, no more sweat and worry for you now.</p>

              <p class="margin-top-15" align="justify">Your labor is done, your home now is heaven; no more must you wait,
              Your legacy lives on, your love of the land, and we will close the gate.</p>
          </div>
          <div class="col-lg-4 col-md-4 tm-footer-div">
            <h3 class="tm-footer-div-title">Connect With Us :</h3>
      
            Targareyns : &nbsp;
              <a target="_blank" href="mailto:kori.sushil07@gmail.com" class="tm-social-icon"><i class="fa fa-envelope"></i></a>
              <a target='_blank' href="https://www.linkedin.com/in/jogendra-55a23e/" class="tm-social-icon"><i class="fa fa-linkedin"></i></a>
              <a target='_blank' href="https://github.com/sushil07-tech/15_targaryens_2" class="tm-social-icon"><i class="fa fa-github"></i></a>
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container">
        <div class="row tm-copyright">
          <h3 class="col-lg-12 medium copyright-text text-center">Thank You for Visiting.</h3>
          <h3 class="col-lg-12 medium copyright-text text-center">|| जय जवान जय किसान ||</h3>
          <h3><p class="col-lg-12 small copyright-text text-center">Copyright &copy; Targareyns</p></h3>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}